.button-create-task {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 90px;

  background: var(--blue-400);
  color: var(--white-100);

  font-size: 14px;
  line-height: 140%;
  margin-left: 5px;
  border-radius: 8px;
  padding: 8px;
}

@media (min-width: 768px) {
  .button-create-task {
    padding: 8px;
  }
}
